.sidebar-main{
    height: 100%;
    /* background-color: aquamarine; */
    border-right:2px solid rgb(206, 206, 206);
    display: flex;
    flex-direction: column;
    /* align-items: center;    */
    /* justify-content: center;    */
    color:rgb(92, 94, 100);
    font-size: 1vw;
    /* position:fixed; */
}

.sidebar-header{
    border-bottom:2px solid rgb(206, 206, 206);
    display: flex;
    align-items: center;
    justify-content: center;
    padding:1.4vw 1vw;
}

.sidebar-container{
    /* background-color: tomato; */
    padding:1vw 2vw; 
}

.sidebar-top1 , .sidebar-top2 , .sidebar-bottom1{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-left:0.9vw;
    gap:10px;
    padding-top:0.8vw;
    padding-bottom:0.8vw;
    /* background-color: royalblue; */
    margin-top: 15px;
    border-radius: 10px;
    transition:cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}

.sidebar-top1:hover , .sidebar-top2:hover , .sidebar-bottom1:hover{
    background-color: rgb(234, 239, 252);
    color: rgb(40, 89, 223);
    cursor: pointer;
}

.sidebar-top-content1{
    font-size:1.5vw;
}

.sidebar-top p , .sidebar-bottom p{
    font-size: 0.8vw;
    text-transform: uppercase;
    margin:0.7vw 0vw;
}